@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

body {
    background-color: black;
    background: radial-gradient(circle, #94bbe9, #eeaeca);
	background-size: 400% 400%;
	animation: gradient 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

@keyframes gradient {
    0%{
        background-position: 0% 90%;
    }
    90%{
        background-position: 90% 0%;
    }
}

h1{

    font-family: 'Zen Kurenaido', sans-serif, arial;
    font-size: 400%;
    color: rgb(0, 0, 0);
    text-shadow: 
             -1px -1px 0px #FFF, 
             -1px 1px 0px #FFF,                    
              1px -1px 0px #FFF,                  
              1px 0px 0px #FFF;
    text-align: center;

}

h2{
    
    font-family: 'Zen Kurenaido', sans-serif, arial;
    font-size: 200%;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 
    -1px -1px 0px rgba(255, 255, 255, 0.452), 
    -1px 1px 0px rgba(255, 255, 255, 0.294),                    
     1px -1px 0px rgba(255, 255, 255, 0.363),                  
     1px 0px 0px rgba(255, 255, 255, 0.411);

}

a{
    text-decoration: none;
}

header{
    height: auto;
    width: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 1%;
    margin-right: 1%;
}

header img{
    max-height: 50%;
    max-width: 50%;
}

  
section{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    padding: 3em 1.5em;
    margin: 1% 0;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px 5px 5px 5px;
}
  
section{
    -webkit-flex: 2 1 500px;
    -webkit-box-flex: 2;
    -ms-flex: 2 1 500px;
    flex: 2 1 500px;
    margin-right: 1%;
    margin-left: 1%;
}
  
.container{
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.box{
    width: 45%;
    margin-left: 3%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;  
    justify-content: space-between;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 1s;
    transition: all 1s;
    text-align: center;
    margin-bottom: 3%;
}

.box:hover{
    transition: 0.4s linear;
    transform: scale(1.1,1.1);
    
}

.box img{
    max-height: 100%;
    max-width: 100%;
}

.imagem{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff00;
    -webkit-flex: 1 2 250px;
    -webkit-box-flex: 1;
    -ms-flex: 1 2 250px;
    flex: 1 2 100px;
    max-width: 100%;
    max-height: 100%;
}

.imagem img{
    width: 100%; 
    height: 20em; 
}

.texto{
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #ffffffc5;
    border-radius: 5px 5px 0px 0px;
    -webkit-flex: 1 2 250px;
    -webkit-box-flex: 1;
    -ms-flex: 1 2 250px;
    flex: 1 2 100px;
    max-width: 100%;
    max-height: 5%;
    border:3px solid rgba(255, 255, 255, 0);

}

footer{
    height: 100px;
    line-height: 100px;
    background-color: rgba(8, 8, 8, 0);
    border-radius: 5px 5px 0px 0px;
    color: rgb(0, 0, 0);
    text-align: center;
}

  
@media screen and (max-width: 550px) {
    .container{
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    section{
        margin-right: 0;
        margin-left: 0;
        -webkit-flex-basis: auto;
        -moz-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    header{
        margin-bottom: 0;
        -webkit-flex-basis: auto;
        -moz-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    header img{
        max-height: 100%;
        max-width: 100%;
    }
    .box{
        width: 100%;
        margin-left: 0;
        margin-bottom: 5%;
    }
}